<div class="content-table">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Dimension</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let location of locations; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ location.name }}</td>
                <td>{{ location.type || 'Unknown' }}</td>
                <td>{{ location.dimension || 'Unknown' }}</td>
            </tr>
        </tbody>
    </table>
</div>
